#tensorflow-examples @ git+https://github.com/tensorflow/examples.git#egg=examples-
fashionscrapper @ git+https://github.com/NiklasHoltmeyer/FashionScrapper.git#egg=FashionScrapper-1.0
fashion_datasets @ git+https://github.com/NiklasHoltmeyer/FashionDatasets.git#egg=FashionDatasets-1.0
pycocotools #~=2.0.0
tqdm #~=4.62.3
pandas #~=1.2.3
setuptools #~=58.2.0
opencv-python #~=4.5.3.56
pillow #~=8.3.2
numpy #~=1.21.2
albumentations #~=1.1.0
tensorflow~=2.4.1
tinydb #~=4.5.2
tinydb-serialization #~=2.1.0
webdavclient3 #~=3.14.6
kaggle #~=1.5.12
numba #~=0.53.1
keras #~=2.6.0